{
	"LatentImageDirectory": "/home/LatentAFIS/data/images/NISTSD27/latent",
	"LatentTemplateDirectory": "/home/LatentAFIS/data/templates/NISTSD27/latent",
	"GalleryImageDirectory": "/home/LatentAFIS/data/images/NISTSD27/rolled",
	"GalleryTemplateDirectory": "/home/LatentAFIS/data/templates/NISTSD27/rolled",
	"ScorePath": "/home/LatentAFIS/scores",
	"CodebookPath": "/mnt/c/Users/Luppo/Desktop/MSU-LatentAFIS/extraction/msu_latentafis/codebook_EmbeddingSize_96_stride_16_subdim_6.dat",
	"MinuPath": "None"
}