{
	"DimensionalityReductionModel": "/mnt/c/Users/Luppo/Desktop/MSU-LatentAFIS/models/dim_reduction/D96/Save/model_769_96D_0.10.pth",
	"DescriptorModelPatch2": "/mnt/c/Users/Luppo/Desktop/MSU-LatentAFIS/models/embeddingsize_64_patchtype_2/20180410-213622/",
	"DescriptorModelPatch8": "/mnt/c/Users/Luppo/Desktop/MSU-LatentAFIS/models/embeddingsize_64_patchtype_8/20180410-213932/",
	"DescriptorModelPatch11": "/mnt/c/Users/Luppo/Desktop/MSU-LatentAFIS/models/embeddingsize_64_patchtype_11/20180411-123356/",
	"MinutiaeExtractionModel": "/mnt/c/Users/Luppo/Desktop/MSU-LatentAFIS/models/minutiae_AEC_64_fcn_2/",
	"MinutiaeExtractionModelLatentSTFT": "/mnt/c/Users/Luppo/Desktop/MSU-LatentAFIS/models/minutiae_AEC_64_fcn_2_Latent_STFT/",
	"EnhancementModel": "/mnt/c/Users/Luppo/Desktop/MSU-LatentAFIS/models/Enhancement_AEC_128_depth_4_STFT/",
	"MinuPath": "None"
}